@import '../../../../Common.scss';
.register-1 {
    // min-height: 100vh;
    background-color:  white;
    

    .content{
        
        // height: 100vh;
        margin-bottom: 100px;
        padding: 0 190px;
        padding-top:50px;

        .form{

            .info-address{
                border-radius: 5px;
                border: 1px solid #d6d5d5;
                padding-bottom: 20px;              
            }
            .btn-continue{
                background-color: #3182D3;
                color: white;
    
            }
        }
        .hint{
            
            .hint-box{
                
                border-radius: 5px;
                border: 1px solid #d6d5d5;

                li{
                    
                    list-style-type: circle;
                }

            }
        }
        
    }

}

