@import '../../../../Common.scss';
.register-1 {
    min-height: 90vh;
    background-color:  white;
    

    .content{
        
        height: 90vh;
        padding: 0 190px;
        padding-top:50px;

        .form{
            border-radius: 5px;
            border: 1px solid #d6d5d5;
            padding-bottom: 20px;
            .info-address{
                padding: 50px 0;
            }
        }
        .hint{
            
            .hint-box{
                
                border-radius: 5px;
                border: 1px solid #d6d5d5;

                li{
                    
                    list-style-type: circle;
                }

            }
        }
    }

}

