@import '../../../../Common.scss';
.home {
    min-height: 90vh;
    background-color:  $blue-dark;
    

    .banner{
        
        // height: 90vh;
        padding: 100px 190px ;
        
    }

    .first-banner{
        background-color: $blue-dark !important;
        color: white;
        display: flex;
        justify-content: space-between;


        h1{
            padding-right: 200px;
            line-height: 60px;
            font-size: 40px;
            font-weight:$font-weight-bold;
       

        }

        

        .register-form{
        
            background-color: white;
            height: 360px;
            border-radius: 5px;
            color: #000;
            padding: 5px 40px;
           

            .reason-register
            {
                display: flex;
                padding: 5px 0;
            }

            p{
                overflow: hidden;
            }

            .button-register{
                color:white;
                margin-top: 20px;
                background-color: #3182D3;
                width: 100%;
            }
        }
    }

    .second-banner{
        background-color: #F7F7F7 !important ;
        height: 80vh;
    }
    .third-banner{
        background-color: white !important;
        .service-decription{
            display: flex;
            
        }
        img{
            padding:0 50px 100px 30px
        }
    }
    .fourth-banner{
        background-color: #F7F7F7 !important ;

        .feedback-box{
            background-color: white;
            padding:20px 40px;
            
            
            box-shadow:  #00000040;
        }
    }

}

