@import '../../../../Common.scss';
.register-1 {
    // min-height: 100vh;
    background-color:  white;
    

    .content{
        
        // height: 100vh;
        padding: 0 190px;
        padding-top:50px;
        margin-bottom: 100px;

        .form{

            .info-hotel{
                border-radius: 5px;
                border: 1px solid #d6d5d5;
                padding-bottom: 20px;              
            }
        }
        
        .btn-continue{
            background-color: #3182D3;
            color: white;

        }
    }

}

